<div class="cover-photo-container">
	<div class="cover-photo" style="background-image:url('{{vm.trackDetail.properties.img_src}}') ">

	</div>
</div>
<!--<img class="detail-cover-photo" ng-src="{{vm.trackDetail.properties.img_src}}">-->
<div class="container padding-top-50">
	<div class="row">
		<div class="col-md-8">
			<h1 class="sticky-title">{{vm.trackDetail.properties.name}}</h1>
			<p class="font-size-24">
				<span><i class="fa fa-flag"></i> Rakım: <b>{{vm.trackDetail.properties.altitude}} (m)</b> </span> <br>
				<span><i class="fa fa-map-signs"></i> Uzunluk: <b>{{vm.trackDetail.properties.distance}} (m)</b> </span>
			</p>
			<h4>Rota Hakkında:</h4>
			<p>
				{{vm.trackDetail.properties.summary}}
			</p>			
		</div>
		<div class="col-md-4">
			<div style="width: 100%; height: 80vh" class="sticky-map">
				<leaflet 
				lf-center="vm.center" 
				layers="vm.layers"
				height="100%" 
				width="100%"></leaflet>
			</div>
		</div>
		<div class="col-md-12" id=stop>
			<div id="disqus_thread"></div>
		</div>

	
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//localhost-8080-2.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
</div>
</div>
<footer-directive ></footer-directive>