<div class="cover-photo-container">
	<div class="cover-photo" style="background-image:url('{{vm.trackDetail.properties.img_src}}') ">

	</div>
</div>
<!--<img class="detail-cover-photo" ng-src="{{vm.trackDetail.properties.img_src}}">-->
<div class="container padding-top-50">
	<div class="row">
		<div class="col-md-8">
			<h1 class="sticky-title">{{vm.trackDetail.properties.name}}</h1>
			<p class="font-size-24">
				<span><i class="fa fa-flag"></i> Rakım: <b>{{vm.trackDetail.properties.altitude}} (m)</b> </span> <br>
				<span><i class="fa fa-map-signs"></i> Uzunluk: <b>{{vm.trackDetail.properties.distance}} (m)</b> </span>
			</p>
			<h4>Rota Hakkında:</h4>
			<p>
				{{vm.trackDetail.properties.summary}}
			</p>			
		</div>
		<div class="col-md-4">
			<div style="width: 100%; height: 80vh" class="sticky-map">
				<leaflet 
				lf-center="vm.center" 
				layers="vm.layers"
				height="100%" 
				width="100%"></leaflet>
			</div>
		</div>
		<script type="text/javascript">
		 $(".sticky-map").sticky({topSpacing:30,stopper:'#stop'});
		 $(".sticky-title").sticky({topSpacing:30,stickyClass:'bg-snow padding-15'});
		</script>
	</div>
</div>
</div>
<footer-directive id=stop></footer-directive>