.card {
    margin-top: 1.25em;
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);*/
}

.card img { 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
    height: 100%;
}
.card img.owner-photo {
    position: absolute;
    top:-25px;
    right: 25px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 3px solid white;
}
 
.card-block {
    position: relative;
    background: white;
    padding: 1.75rem;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
}  

.card-block > h4 { 
	font-size: 2.5em;
}
.card-image-container {
    width: 100% !important;
    position: relative !important;
    padding-bottom: 82% !important;
    min-height: 150px !important;
    background-color: #D8D8D8 !important;
}

.card-image-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.card-block p.card-text {
    font-size: 16px;
    /* max-height: 120px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    /* height: 120px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

