<a href="javascript:void(0);">
	<div class="card">
		<div class="card-image-container">
			<div class="card-image-cover">
				<img data-ng-src="{{vm.imgSrc}}" class="img-fluid" alt="">
			</div>
			<a>
				<div class="mask waves-effect waves-light"></div>
			</a>
		</div>
		<div class="card-block">
			<img class="owner-photo" ng-src="{{vm.owner.photo}}">
			<!--Title-->
			<h4 class="card-title"><a ui-sref="rotalarDetail({id: vm.id})" href="" target="_blank">{{vm.title}}</a></h4>
			<!--Text-->
			<p class="card-text">
				{{vm.summary}}
			</p>
			<!--<p class="text-left">
				<span class="font-size-20">
					Rotanın Kaşifi: 
				</span>
				<a ng-show="vm.owner" class="btn btn-default waves-effect waves-light font-size-20" href="javascript:void(0)">{{vm.owner.name.split(' ')[0]}}
				
				</a>
			</p>-->
		</div>
	</div>
</a>