 header {
 	/*background: linear-gradient(to right, rgba(4, 245, 34, 0.2), rgba(255, 143, 3, 0.4));*/
 	text-align: center;
 	color: white;
 	height: 443px;
 	background-size: cover;
 	position: relative;
 }
 
 header .container {
 	padding-top: 100px;
 	padding-bottom: 50px;
 }
 
 header img {
 	display: block;
 	margin: 0 auto 20px;
 }
 
 header .intro-text .name {
 	display: block;
 	font-family: 'Amatic SC', cursive;
 	font-weight: 700;
 	font-size: 2.5em;
 	text-shadow: 2px 2px rgba(31, 28, 28, 0.33);
 }
 
 header .intro-text .skills {
 	padding-top: 20px;
 	font-size: 1.25em;
 	font-weight: 300;
 }
 
 .skills-wrapper {
 	background: rgba();
 }
 
 @media (min-width: 768px) {
 	header {
 		height: 100vh;
 	}
 	header .container {
 		padding-top: 200px;
 		padding-bottom: 100px;
 	}
 	header .intro-text .name {
 		font-size: 9.75em;
 	}
 	header .intro-text .skills {
 		font-size: 1.75em;
 	}
 }
 
 .headline{
 	background: url(../../img/bg-1.jpg);
 	background-size: cover !important;
 	background-position: center !important;
 	-webkit-transition: background-image 1s ease-in;
 	transition: background-image 1s ease-in;
 }
  .headline-2 {
 	background: url(../../img/bg-2.jpg);
 	background-size: cover !important;
 	background-position: center !important;
 	-webkit-transition: background-image 1s ease-in;
 	transition: background-image 1s ease-in;
 }
  .headline-3 {
 	background: url(../../img/bg-3.jpg);
 	background-size: cover !important;
 	background-position: center !important;
 	-webkit-transition: background-image 1s ease-in;
 	transition: background-image 1s ease-in;
 }
  .headline-4 {
 	background: url(../../img/bg-4.jpg);
 	background-size: cover !important;
 	background-position: center !important;
 	-webkit-transition: background-image 1s ease-in;
 	transition: background-image 1s ease-in;
 }
  .headline-5 {
 	background: url(../../img/bg-5.jpg);
 	background-size: cover !important;
 	background-position: center !important;
 	-webkit-transition: background-image 1s ease-in;
 	transition: background-image 1s ease-in;
 }
 
 .intro-text-footer {
 	position: absolute;
 	bottom: 0;
 	margin: 0px;
 	width: 100%;
 	background: rgba(38, 44, 44, 0.7);
 	padding: 15px;
 }
 
 .navbar-brand-tabiat {
 	background-image: url(../../img/logo-alt-5.svg);
 	background-size: 100%;
 	background-position: center;
 	background-repeat: no-repeat;
 	height: 55px !important;
 	width: 104px !important;
 	margin: 5px 0px;
 }
 
 @media screen and(min-width:480px) {}
 /*
  	margin: auto;
 	text-align: center;
 	display: block !important;
 	float: none;
 	height: 59px!important;
 	width: 80px!important;*/