<!-- Header -->
<div class="headline">
	<header>
		<div class="container">
			<div class="row">    
				<div class="col-lg-12">
					<div class="intro-text">
						<h1 class="name">TABİATIN İZİNDE </h1>
						<hr class="star-light">
						<!-- <hr class="star-primary"> -->
						<br>
						<span class="skills">
							Türkiye'deki 1000+ doğa yürüyüşü yolunu keşfet 
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="intro-text-footer col-md-12">
			<h5 class="text-center">Maceraya atıl</h5>
			<form class="">
				<div class="input-group main-search">
					<!--<input type="text" class="form-control " placeholder="Örn: Saklıkent Kanyonu" ng-model="vm.elma">-->
					<input type="text" id="Autocomplete" class="form-control geocode-autocomplete" data-from="headline-search-button"  autocomplete="off" placeholder="Nereye ?"/>
					<span class="input-group-btn">
							<button class="btn btn-info" type="button" ng-click="vm.search()" id="headline-search-button" >ARA</button>
					</span>
				</div>
				<!-- /input-group -->
			</form>
		</div>
	</header>
</div>