<div class="container">

        <div class="col-md-5 glue-left">

            <h1><span class="fa fa-sign-in"></span> giriş yap</h1>

            <form action="/login" method="post">
                <div class="form-group">
                    <label>Eposta</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Giriş</button>
            </form>

            <hr>
            <a href="/login/facebook" target="_self" class="btn btn-primary btn-lg btn-block"><i class="fa fa-facebook"></i> Facebook</a>
            <p>Kayıtlı değil misiniz ? <a href="/kayit"> <i class="fa fa-user"></i> Kayıt Ol</a></p>
            <p>  <a href="/"><i class="fa fa-arrow-left"></i> Ana sayfaya dön</a></p>

        </div>
        <div class="col-md-7 glue-right">
           <div class="right-image">
            
               <!-- <img src="img/the-hills.jpg"> -->
           </div>
           
       </div>

   </div>