<nav class="navbar navbar-inverse navbar-fixed-top layout-nav ">
    <div class="container-fluid">
        <a href="" class="menu-toggle visible-xs" ng-click="vm.openNav()">
            <i class="fa fa-bars"></i>
        </a>
        <div class="navbar-header">
            <a href="/" class="navbar-brand navbar-brand-tabiat visible-sm visible-md visible-lg"></a>
            <div class="navbar-search-mobile visible-xs">
            <div class="input-group layout-mobile-search-group" style="width:100%">
                <input type="text" class="form-control geocode-autocomplete " placeholder=" Nereye ?" name="q" autocomplete="off">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> Ara</button>
                </div>
            </div>
        </div>
        </div>      
        <div id="navbar" class="visible-sm visible-md visible-lg">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!flagLogin" class="active"><a ui-sref="login">Giriş Yap</a></li>
                <li ng-if="flagLogin">
                    <a ui-sref="addtrack.location" style="padding-bottom: 5px;">
                        <i class="fa fa-plus"></i> Rota Ekle
                    </a>
                </li>
                <li ng-if="flagLogin" class="active dropdown">
                    <a ui-sref="profile" style="padding-bottom: 5px; background-color: transparent;" class="dropbtn">
                       {{user.name}}
                        <img class="menu-profile-photo" src="{{user.photo}}"><img>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Profil</a>
                        <a href="#">Rotalarım</a>
                        <a href="#">Ayarlar</a>
                        <a href="/logout " target="_self ">Oturumu Kapat</a>
                    </div>
                </li>
            </ul>
            <div class="col-sm-4 col-md-4 navbar-search">
                <form class="navbar-form" role="search">
                    <div class="input-group" style="width:100%">
                        <input type="text" class="form-control geocode-autocomplete" placeholder=" Nereye ?" name="q" autocomplete="off">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> Ara</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--<a class="btn mobile-menu visible-sm visible-xs" ui-sref="profile">
        <img class="menu-profile-photo" src="{{user.photo}}"><img>
    </a>-->
</nav>


<!-- The overlay -->
<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" ng-click="vm.closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="/">Ana Sayfa</a>
        <a ui-sref="addtrack.location"><i class="fa fa-plus"></i>Rota Ekle</a>
        <a href="/profil">Profil</a>        
        <a href="#">Oturumu Kapat</a>
    </div>

</div>