.menu-profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: 5px;
    top: -3px;
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
    position: relative;
}

.navbar-search-mobile {
    color: white;
    display: block;
    width: 225px;
    float: initial;
    padding: 16px 3px;
    margin: auto !important;
    font-size: 20px;
}

.navbar-search-mobile button {
    font-size: 15px;
}

.navbar-search-mobile input{ 
    font-size: 20px;
}

.mobile-menu {
    position: absolute;
    right: 10px;
    top: 7px;
}

.mobile-menu-pull-left {
    position: absolute;
    left: 10px;
    top: 7px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.navbar-header {
    height: 65px;
}

.navbar-nav>li>a {
    line-height: 35px;
    font-size: 19px;
}

.navbar-search {
    height: 65px;
    padding: 7px;
}

.menu-toggle {
    color: white;
    float: left;
    font-size: 25px;
    height: 65px;
    padding: 20px 0px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px;
    background: 0 0!important;
    -webkit-transition: color .25s linear;
    -o-transition: color .25s linear;
    transition: color .25s linear;
}