.progress-bar-top {
    margin-top: 51px;
}

.thumb {
    max-width: 100%;
}


/*.ladda-button
{
    background-color: transparent !important;
    color: #1abc9c !important;
    border: none !important;
    padding: initial !important;
    padding-left: 48px !important;
    font-size: 20px !important;
}*/

@media screen and (max-width: 768px) {
    .rotaekle-menu {
        background: white;
    }
}

.rotaekle-menu {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-bottom: 30px;
}

.btn-rotaekle {
    font-size: 22px;
}

.fit-form-element {
    margin-bottom: 150px;
}

.stepy-header{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top:64px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.stepy-header li {
    cursor: pointer;
    display: table-cell;
    vertical-align: top;
    width: auto;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.stepy-header li:after, .stepy-header li:before {
    content: '';
    display: block;
    position: absolute;
    top: 43px;
    width: 50%;
    height: 2px;
    background-color: #fbab29;
    z-index: 9;
}
.stepy-header li.stepy-active:after, .stepy-header li.stepy-active ~ li:after, .stepy-header li.stepy-active ~ li:before {
    background-color: #e2e2e2;
}
.stepy-header li:after {
    right: 0 !important;
}

.stepy-header li.stepy-active div {
    cursor: auto;
    border-color: #fbab29;
    background-color: #ffffff;
    color: #fbab29;
}
.stepy-header li div {
    background-color: #fbab29;
    font-size: 0;
    position: relative;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 48px;
    height: 48px;
    border: 2px solid #fbab29;
    z-index: 10;
    line-height: 44px;
    text-align: center;
    border-radius: 50%;
}
.stepy-header li.stepy-active span {
    color: #fbab29;
}
.stepy-header li span {
    display: block;
    margin-top: 10px;
    color: #999;
    font-weight: 600;
}
.stepy-header li div:after {
    -webkit-font-smoothing: antialiased;
    line-height: 44px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-size: 24px;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    content: "\f00c";    
}

.stepy-header li.stepy-active div:after {
    content: "\f00c";
}

.stepy-header li.stepy-active ~ li div {
    border-color: #e2e2e2;
    background-color: #ffffff;
    color: #797979;
    font-size: 18px;
    font-weight: 600;
    content: "\f1bb";   
}

.stepy-header li.stepy-active ~ li div:after {
    content: "\f1bb";
    
}