.progress-bar-top {
    margin-top: 51px;
}

.thumb {
    max-width: 100%;
}


/*.ladda-button
{
    background-color: transparent !important;
    color: #1abc9c !important;
    border: none !important;
    padding: initial !important;
    padding-left: 48px !important;
    font-size: 20px !important;
}*/

@media screen and (max-width: 768px) {
    .rotaekle-menu {
        background: white;
    }
}

.rotaekle-menu {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-bottom: 30px;
}

.btn-rotaekle {
    font-size: 22px;
}

.fit-form-element {
    margin-bottom: 150px;
}