<div class="container layout-padding">
	<div class="col-md-offset-3 col-md-6 ">
		<h3 class="text-center"> Konum </h3>
		<div class="panel">
			<div class="panel-heading">
				<legend>Rotanızın başlangıç konumunu harita üzerinden seçin</legend>
			</div>
			<div class="panel-body">
				<!--<input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1"
					/>-->
				</form>
				<form>
					<div style="height: 200px;">
						<leaflet lf-center="rotaEkleController.center" layers="rotaEkleController.layers" markers="markers" height="100%" width="100%"></leaflet>
					</div>
					<div style="padding-top: 15px;">
						<p>{{rotaEkleController.location}}</p>
						<p class="">
							<a ui-sref="addtrack.meta" class="pull-right"> Devam et <i class="fa fa-arrow-circle-right"></i></a>
						</p>
					</div>
					
			</div>
		</div>
	</div>
</div>