.cover-photo-container {
    height: 90vh;
}

.cover-photo {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #f5f5f5;
    height: 100%;
}

.is-sticky h1 {
    background: #fafafa;
    font-size: 36px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.bg-snow {
    background: #fafafa;
}

.padding-15 {
    padding: 15px !important;
}

.padding-top-15 {
    padding-top: 15px;
}

.weather-desc {
    font-size: 30px;
}

.weather-desc span {
    display: block;
    text-align: left;
    font-size: 60px;
    margin-top: -12px;
}

.weather-desc b {
    text-align: left;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.owner-detail {
    position: absolute;
    top: 10px;
    right: 25px;
    margin-top: 20px;
}

.owner-photo-detail {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: 3px solid white;
}

.owner-name {
    font-size: 16px;
}

.active.weather-pills::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #337ab7;
    right: 35%;
}

.weather-card:hover .active.weather-pills::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    right: 35%;
}

.weather-card li.weather-pills>a {
    background: gainsboro;
    color: black;
}

.weather-card li.active.weather-pills>a {
    background: #337ab7;
    color: white;
}

.weather-card:hover li.weather-pills>a {
    background: gainsboro;
    color: black;
}

.weather-card:hover li.active.weather-pills>a,
.weather-card:hover li.active.weather-pills>a:focus,
.weather-card:hover li.active.weather-pills>a:hover {
    background-color: transparent;
    background: #3F51B5;
    background: -moz-linear-gradient(183deg, #3F51B5 8%, #03A9F4 99%);
    background: -webkit-linear-gradient(183deg, #3F51B5 8%, #03A9F4 99%);
    background: white;
    color: black;
}

.weather-card * {
    color: black;
}

.weather-card:hover {
    background-color: transparent;
    background-image: #3F51B5;
    background-image: -moz-linear-gradient(183deg, #3F51B5 8%, #03A9F4 99%);
    background-image: -webkit-linear-gradient(183deg, #3F51B5 8%, #03A9F4 99%);
    background-image: linear-gradient(183deg, #3F51B5 8%, #03A9F4 99%);
}

.weather-card:hover * {
    color: white;
}

.weather-show-on-hover {
    display: none !important;
}

.weather-card:hover .weather-show-on-hover {
    display: block !important;
}

.weather-card:hover .weather-hide-on-hover {
    display: none !important;
}

.darksky-logo {
    height: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(../../img/layers.svg);
}

.track-map {
    width: 100%;
    height: 50vh;
}

@media screen and (min-width: 992px) {
    .track-map {
        width: 100%;
        height: 80vh;
    }
}

.container .padding-top-50 {
    -webkit-transition: .6s cubic-bezier(.42, 0, 0, .99);
    -moz-transition: .6s cubic-bezier(.42, 0, 0, .99);
    -ms-transition: .6s cubic-bezier(.42, 0, 0, .99);
    -o-transition: .6s cubic-bezier(.42, 0, 0, .99);
    transition: .6s cubic-bezier(.42, 0, 0, .99);
}

.detail-container {
    margin-top: -12em;
}