<div class="cover-photo-container">
	<div class="cover-photo" style="background-image:url('{{vm.trackDetail.properties.img_src}}') ">

	</div>
</div>
<!--<img class="detail-cover-photo" ng-src="{{vm.trackDetail.properties.img_src}}">-->
<div class="container padding-top-50">
	<div class="row">
		<div class="col-md-8">
			<div class="row card-block margin-bottom-15">
				<div class="owner-detail">
					<img class="owner-photo-detail" ng-src="{{vm.trackDetail.properties.ownedBy.photo}}">
					<p class="owner-name text-center">{{vm.trackDetail.properties.ownedBy.name.split(" ")[0]}}</p>
				</div>


				<div class="col-md-12 ">
					<h1 class="sticky-title">{{vm.trackDetail.properties.name}}</h1>
				</div>
			</div>
			<div class="row  card-block margin-bottom-15 weather-card">
				<div class="col-md-12">
					<h4>Hava Durumu</h4>
					<p>{{vm.weather.daily.summary}}</p>
				</div>
				<!--<div class="col-md-3">
					<div class="weather-desc">
						<span class="text-left">
							<i class="wi {{vm.weather.dataCurrent.weatherClass}}"></i>
						</span>
						<p class="text-left">
							<b>{{vm.weather.dataCurrent.weatherDescription}} / {{vm.weather.data.main.temp.toFixed(0)}}°C</b>
						</p>
					</div>
					<br>
				
				</div>-->
				<div class="">
					<div class="col-md-12">
						<ul class="nav nav-pills">
							<li class="active weather-pills"><a data-toggle="pill" href="#anlik-hava">Şu an</a></li>
							<li class="weather-pills"><a data-toggle="pill" href="#haftalik-hava">Haftalık</a></li>
						</ul>

					</div>

					<div class="col-md-12">
						<div class="tab-content">
							<div id="anlik-hava" class="tab-pane fade in active">
								<div class="col-sm-3">
									<div class="weather-desc">
										<span class="text-left weather-hide-on-hover" style="padding-top: 20px;">
											<canvas id="icon1" width="128" height="128"></canvas>
										</span>
										<span class="text-left weather-show-on-hover" style="padding-top: 20px;">
											<canvas id="icon2" width="128" height="128"></canvas>
										</span>
										<p class="text-left">
											<b>{{vm.weather.currently.summary}} / {{vm.weather.currently.apparentTemperature.toFixed(0)}}°C</b>
										</p>
									</div>
									<br>
								</div>
								<div class="col-sm-9">
									<p class="font-size-24" style="color: #676767 !important;">
										<span><i class="wi wi-wind-beaufort-{{vm.weather.currently.windSpeed.toFixed(0)}}"></i> Rüzgar şiddeti:<b> {{vm.weather.currently.windSpeed}} m/s</b></span><br>
										<span><i class="wi wi-wind from-{{vm.weather.currently.windBearing.toFixed(0)}}-deg"></i> Rüzgar yönü: <b>{{vm.weather.currently.windBearing.toFixed(0)}}°</b></span><br>

									</p>
								</div>
							</div>
							<div id="haftalik-hava" class="tab-pane fade padding-top-15">
								<div ng-repeat="dailyWeather in vm.weather.daily.data | limitTo: 5">
									<div class="col-sm-2 col-xs-6">
										<span class="text-left weather-hide-on-hover">
											<canvas id="icon{{$index+10}}" width="48" height="48"></canvas>
										</span>
										<span class="text-left weather-show-on-hover">
											<canvas id="icon{{$index+20}}" width="48" height="48"></canvas>
										</span>
										<p>
											{{::dailyWeather.time | date : 'EEEE' }}
										</p>
										<p>
											<b>{{::dailyWeather.temperatureMax}} °C/ {{::dailyWeather.temperatureMin }} °C/</b>
										</p>
										<p>{{::dailyWeather.summary }}</p>


									</div>
									<div ng-if="$index == 1 || $index == 3" class="clearfix visible-xs"></div>
								</div>
							</div>
						</div>
						<a href="https://darksky.net/poweredby/" target="_blank">
							<img src="../../img/darksky.svg" class="weather-hide-on-hover darksky-logo"/>
							<img src="../../img/darksky_white.svg" class="weather-show-on-hover darksky-logo" />			
						</a>
					</div>
				</div>










			</div>

			<div class="row card-block margin-bottom-15">
				<div class="col-md-12">
					<h4>Rota Hakkında</h4>
					<p class="font-size-24">
						<span><i class="fa fa-flag"></i> Rakım (min-maks): <b>{{vm.gpxData.eleMin.toFixed(0) }} - {{vm.gpxData.eleMax.toFixed(0) }} (m)</b> </span>						<br>
						<span><i class="fa fa-map-signs"></i> Uzunluk: <b>{{vm.gpxData.distance.toFixed(0) }} (m)</b> </span><br>
					</p>


					<p>
						{{vm.trackDetail.properties.summary}}
					</p>
				</div>
			</div>

			<line-chart data=vm.data options="vm.chartOptions"></line-chart>
		</div>
		<div class="col-md-4">
			<div style="width: 100%; height: 80vh" class="sticky-map">
				<leaflet lf-center="vm.center" layers="vm.layers" controls="vm.controls" height="100%" width="100%"></leaflet>
			</div>
		</div>
		<div class="col-md-12" id=stop>
			<div id="disqus_thread"></div>
		</div>


		<script>
			/**
			 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
			/*
			var disqus_config = function () {
			this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			*/
			(function () { // DON'T EDIT BELOW THIS LINE
				var d = document,
					s = d.createElement('script');
				s.src = '//localhost-8080-2.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
</div>
</div>
<footer-directive></footer-directive>