<div class="container">
	<div class="side-menu">
		<h2>Rotalar</h2>

		<div ng-show="vm.markersEmpty" style="text-align: center;">
			<img src="../../img/embarrassed.svg" style="max-width: 200px; margin: auto; text-align: center;"></img>
			<p style="font-size: 28px;"> Bu civarda pek birşey bulamadık.
			</p>
		</div>
		<div ng-repeat="marker in vm.markers track by marker.properties.id" ng-show="!vm.markersEmpty">
			<div class="col-md-6 margin-bottom-60">
				<!-- CARD  -->
				<card-directive ng-mouseover="vm.changeIcon(marker)" ng-mouseleave="vm.removeIcon(marker)" title=marker.properties.name
				    summary=marker.properties.summary owner=marker.properties.owner img-src=marker.properties.img_src id=marker.properties.id>
				</card-directive>
			</div>
			<div class="clearfix" ng-if="$index % 3 == 1">{{}}</div>
		</div>


		<!-- ng-class="marker.focus ? 'active-place' : ''" ng-mouseenter="changeIcon(marker)" ng-mouseleave="changeIcon(marker)" ng-click="zoomMarker(marker)"> -->
		<div class="btn-map-filter-table">
			<div class="btn-map-filter-cell">
				<div class="btn-group  btn-map-filter">
					<button type="button" class="btn btn-primary btn-lg btn-shadow btn-upper" ng-click="vm.openMap()"><i class="fa fa-map"></i>{{vm.toggleTitle}}</button>
					<button type="button" class="btn btn-primary btn-lg btn-shadow btn-upper"><i class="fa fa-filter"></i> Filtre</button>
				</div>
			</div>
		</div>

	</div>

	<div class="data-viz" id="map">
		<div class="map-auto-refresh">
			<label class="checkbox" for="map-auto-refresh-checkbox">
					<input type="checkbox" ng-model="vm.mapAutoRefresh" class="map-auto-refresh-checkbox" id="map-auto-refresh-checkbox" checked="true">
					<small ><span>Haritada gezindikçe ara </span></small>
				</label>
		</div>
		<leaflet lf-center="vm.center" layers="vm.layers" markers="vm.markers" height="100%" width="100%"></leaflet>
	</div>

</div>
