.side-menu {
    position: absolute;
    background: whitesmoke;
    height: calc(100% - 65px);
    left: 0;
    top: 50px;
    width: 60%;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .side-menu {
        position: absolute;
        background: whitesmoke;
        height: calc(100% - 65px);
        left: 0;
        top: 50px;
        width: 100%;
    }
}

.data-viz {
    position: absolute;
    width: 40%;
    height: calc(100% - 65px);
    background: darkorchid;
    top: 64px;
    left: 60%;
    -webkit-transition: .6s cubic-bezier(.42, 0, 0, .99);
    -moz-transition: .6s cubic-bezier(.42, 0, 0, .99);
    -ms-transition: .6s cubic-bezier(.42, 0, 0, .99);
    -o-transition: .6s cubic-bezier(.42, 0, 0, .99);
    transition: .6s cubic-bezier(.42, 0, 0, .99);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

@media screen and (max-width: 768px) {
    .data-viz {
        position: absolute;
        width: 100%;
        height: calc(100% - 65px);
        background: darkorchid;
        top: 65px;
        left: -800px;
    }
}

.btn-map-filter-table {
    position: fixed;
    bottom: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    z-index: 2000;
}

@media screen and (min-width: 768px) {
    .btn-map-filter-table {
        display: none;
    }
}

.btn-map-filter-cell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}

.btn-map-filter {
    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.panel {
    border-radius: 0px;
}

@media screen and (min-width: 768px) {
    .panel {
        margin: 15px;
    }
}

.side-menu>h2 {
    font-size: 4em;
    margin-left: 15px;
}

.map-auto-refresh {
    position: absolute;
    top: 10px;
    left: 40px;
    background: white;
    height: 40px;
    width: 160px;
    z-index: 200;
    margin-left: 20px;
    padding-left: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    display: none;
}

@media screen and (min-width: 768px) {
    .map-auto-refresh {
        display: block;
    }
}

.refresh-open {
    display: block;
}

.map-open {
    width: 100%;
    left: 0px
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.not-found-img {
    max-width: 150px;
    margin: auto;
    text-align: center;
}

.not-found-img.show{
    display: block;
}


.not-found-img.hide{
    display: none;
}

.card-on-map{
    min-width: 200px;
}

.leaflet-popup-content-wrapper{
    padding: 0px !important;
}
.leaflet-popup-content {
    margin: 0px !important;
}

.leaflet-popup-content .card-block {
    padding: 0.5rem 1rem;
}

.leaflet-popup-content .card-block > h4 {
    font-size: 1.9em;
}