<div class="container">

    <div class="col-md-5 glue-left">

        <h1><span class="fa fa-user"></span> Kayıt Ol</h1>

        <form action="/signup" method="post" name="registerForm">
            <div class="form-group" ng-class="registerForm.email.$error.email ? 'has-error' : ''">
                <label>Eposta</label>
                <!--<pre>{{registerForm.password |json}}</pre>-->
                <input type="email" class="form-control" name="email" placeholder="E-posta" required ng-model="email">
                <p class="form-error-text" ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Geçerli bir eposta adresi lütfen!</p>
            </div>
            <div class="form-group">
                <label>Şifre</label>
                <input type="password" class="form-control" name="password" ng-model="password" minlength="6" placeholder="Şifre" required>
                <p class="form-error-text" ng-show="registerForm.password.$error.minlength" class="help-block">En az 6 adet karakter</p>

            </div> 
            <div class="form-group" ng-class="registerForm.passwordConfirm.$error.equals ? 'has-error' : ''">
                <label>Şifre Tekrar</label>
                <input type="password" class="form-control" name="passwordConfirm" ng-model="password_verify" equals="{{password}}" minlength="6" placeholder="Şifre Tekrar" required>
            </div>
            <p class="form-error-text" ng-show="registerForm.password != undefined && registerForm.passwordConfirm.$error.equals" class="help-block">Parolalar eşleşmiyor</p>
            <button type="submit" class="btn btn-primary btn-lg">Kaydol</button>
        </form>

        <hr>

        <p>Kayıtlı mısınız ?
            <a href="/giris"> <i class="fa fa-user"></i> Giriş Yap</a>
        </p>
        <p> <a href="/"><i class="fa fa-arrow-left"></i> Ana sayfaya dön</a></p>

    </div>
    <div class="col-md-7 glue-right">
        <div class="right-image-register">

            <!-- <img src="img/the-hills.jpg"> -->
        </div>

    </div>

</div>