	<!-- Header -->
	<div class="headline">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="intro-text">
							<h1 class="name">Tabiat Rehberi </h1>
							<hr class="star-light">
							<br>
							<span class="skills">Türkiye'deki 100+ doğa yürüyüşü yolunu keşfet</span>	
						</div>
					</div>
				</div>
			</div>
			<div class="intro-text-footer">
				<form class="">
					<div class="input-group main-search">
						<input type="text" class="form-control " placeholder="Örn: Saklıkent Kanyonu">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">ARA</button>
						</span>
					</div><!-- /input-group -->
				</form>
			</div>
		</header>
	</div>