<div class="container layout-padding fit-form-element">
    <div class="col-md-12">
        <h3 class="text-center">3- Hangi sezonda gidilir ?</h3>
        <div class="col-md-1"></div>
        <a href="" class="select-panel-link">
            <div class="panel select-panel col-md-2">
                <div class="panel-body text-center">
                    <img src="../../img/season/forest.svg" style="width:80px;" class="select-img"></img>
                    <p class="text-center"> İlkbahar </p>
                </div>
            </div>
        </a>

        <a href="" class="select-panel-link">
            <div class="panel select-panel col-md-2">
                <div class="panel-body text-center">
                    <img src="../../img/season/beach.svg" style="width:80px;" class="select-img"></img>
                    <p class="text-center"> Yaz </p>
                </div>
            </div>
        </a>

        <a href="" class="select-panel-link">
            <div class="panel select-panel col-md-2">
                <div class="panel-body text-center">
                    <img src="../../img/season/fields.svg" style="width:80px;" class="select-img"></img>
                    <p class="text-center"> Sonbahar </p>
                </div>
            </div>
        </a>
        <div class="">
            <a href="" class="select-panel-link">
                <div class="panel select-panel col-md-2">
                    <div class="panel-body text-center">
                        <img src="../../img/season/mountains.svg" style="width:80px;" class="select-img"></img>
                        <p class="text-center"> Kış </p>
                    </div>
                </div>
            </a>
        </div>

    </div>
    <div class="col-md-offset-3 col-md-6 rotaekle-menu">
        <hr>
        <a ui-sref="addtrack.camp" class="pull-left btn-lg"> <i class="fa fa-arrow-circle-left"></i> Geri dön </a>
        <a ui-sref="addtrack.meta" class="pull-right btn btn-primary btn-lg"> Devam et <i class="fa fa-arrow-circle-right"></i></a>
    </div>

</div>