
<div class="container">

    <div class="col-md-5 ">

        <div class="card testimonial-card">

            <!--Bacground color-->
            <div class="card-up default-color-dark">
            </div>

            <!--Avatar-->
            <div class="avatar"><img src="{{vm.user.photo}}"" class="img-circle img-responsive">
            </div>

            <div class="card-block">
                <!--Name-->
                <h4 class="card-title">{{vm.user.name}}</h4>
                <hr>
                <!--Quotation-->
                <p><i class="fa fa-email"></i>{{vm.user.email}}</p>
                <a class="btn btn-block btn-warning" href="/logout" target="_self"><i class="fa fa-ban"></i> Çıkış</a>

            </div>

        </div>
    </div>

    <style type="text/css">
      .testimonial-card .card-up {
          height: 120px;
          overflow: hidden;
            background: linear-gradient(to right, rgba(4, 245, 34, 0.2), rgba(255, 143, 3, 0.4));
      }


      .avatar{
        border-radius: 50%;
        width: 200px;
        margin: -65px auto 0;
        border: 5px solid #fff;
        background: #FFF;
        height: 200px;
        overflow: hidden;
    }

    .testimonial-card  .card-block {
        padding: 1.25rem;

        text-align: center;
    }
</style>
</div>