.right-image {
	background: url('../../img/the-hills.jpg');
	height: 100%;
	width: 100%;
	display: block;
	background-size: cover;
	background-position: center;
}

.glue-right {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	min-width: 50%;
	z-index: -1;
}

.glue-left {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 50px;
}

.login-table {
	display: table;
	width: 100%;
	height: 100%;
}

.login-cell {
	display: table-cell;
	vertical-align: middle;
}