<div class="image-connect">
    <div class="container">

        <div class="col-md-offset-4 col-md-4">
            <div class="panel card">
                <div class="panel-body">
                    <h1><span class="fa fa-user"></span> Eposta bağla</h1>

                    <form action="/connect/local" method="post" name="registerForm">
                        <div class="form-group" ng-class="registerForm.email.$error.email ? 'has-error' : ''">
                            <label>Eposta</label>
                            <!--<pre>{{registerForm.password |json}}</pre>-->
                            <input type="email" class="form-control" name="email" placeholder="E-posta" required ng-model="email">
                            <p class="form-error-text" ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Geçerli bir eposta adresi lütfen!</p>
                        </div>
                        <div class="form-group">
                            <label>Şifre</label>
                            <input type="password" class="form-control" name="password" ng-model="password" minlength="6" placeholder="Şifre" required>
                            <p class="form-error-text" ng-show="registerForm.password.$error.minlength" class="help-block">En az 6 adet karakter</p>

                        </div>
                        <div class="form-group" ng-class="registerForm.passwordConfirm.$error.equals ? 'has-error' : ''">
                            <label>Şifre Tekrar</label>
                            <input type="password" class="form-control" name="passwordConfirm" ng-model="password_verify" equals="{{password}}" minlength="6"
                                placeholder="Şifre Tekrar" required>
                        </div>
                        <p class="form-error-text" ng-show="registerForm.password != undefined && registerForm.passwordConfirm.$error.equals" class="help-block">Parolalar eşleşmiyor</p>

                        <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="registerForm.passwordConfirm.$error.equals"><i class="fa fa-tree"></i> E-posta bağla </button>
                    </form>

                    <hr>
                    <p>Hesabına bir eposta adresi ve şifre oluşturarak bunun ilede giriş yapabilirsin.</p>
                    <p> <a href="" onclick="window.history.back();"><i class="fa fa-arrow-left"></i> Geri</a></p>

                </div>


            </div>
        </div>
        <!--
    <div class="col-md-7 glue-right">
        <div class="right-image-register">

            <!-- <img src="img/the-hills.jpg"> 
        </div>

    </div>
    -->
    </div>
</div>