	<nav class="navbar navbar-inverse navbar-fixed-top layout-nav">
		<div class="container">
			<div class="navbar-header">
				<a class= "navbar-brand navbar-search-mobile visible-sm visible-xs" href="#">
					<button type="button" class="btn btn-default btn-block">
						<span class="fa fa-search" aria-hidden="true"></span> Ara
					</button>
				</a>
			</div>
			<div id="navbar" class="visible-md visible-lg">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Giriş Yap</a></li>
					<li><a href="#about">Hakkında</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
		<a class="btn btn-default mobile-menu visible-sm visible-xs">
			<i class="fa fa-bars"></i>
		</a>
	</nav>

	<div class="side-menu">
		
	</div>

	<div class="data-viz" id="map">
		
	</div>
	