	<nav class="navbar navbar-inverse navbar-fixed-top layout-nav">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class= "navbar-brand navbar-search-mobile visible-sm visible-xs" href="#">
					<button type="button" class="btn btn-default btn-block">
						<span class="fa fa-search" aria-hidden="true"></span> Ara
					</button>
				</a>
				<a href="/" class="navbar-brand">
					Tabiat.izi
				</a>
			</div>
			<div id="navbar" class="visible-md visible-lg">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Giriş Yap</a></li>
					<li><a href="#about">Hakkında</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
		<a class="btn btn-default mobile-menu visible-sm visible-xs">
			<i class="fa fa-bars"></i>
		</a>
	</nav>
	<div class="container">
		<div class="side-menu">
			<h2>Rotalar</h2>

			<div class="col-md-6" ng-repeat="track in vm.markers" >
				<!-- CARD  -->
				<card-directive 
				ng-mouseover="vm.changeIcon(track)"
				ng-mouseleave="vm.removeIcon(track)" 
				title = track.properties.name
				summary =  track.properties.summary >
				</card-directive>
			</div>

			<!-- ng-class="marker.focus ? 'active-place' : ''" ng-mouseenter="changeIcon(marker)" ng-mouseleave="changeIcon(marker)" ng-click="zoomMarker(marker)"> -->
			<div class="btn-map-filter-table">
				<div class="btn-map-filter-cell">
					<div class="btn-group  btn-map-filter">
						<button type="button" class="btn btn-primary btn-lg"><i class="fa fa-map"></i> Harita</button>
						<button type="button" class="btn btn-primary btn-lg"><i class="fa fa-filter"></i> Filtre</button>
					</div>
				</div>
			</div>

		</div>

		<div class="data-viz" id="map">
		<leaflet 
			lf-center="vm.center" 
			layers="vm.layers"
			markers="vm.markers"
			height="100%" 
			width="100%"></leaflet>
		</div>

	</div>
