		<!-- Navigation -->
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle navbar-collapse-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Menü Aç/Kapa</span> <i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand navbar-brand-tabiat" href="/"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="page-scroll">
							<a href="#tracks"><i class="fa fa-tree"></i> Rotalar</a>
						</li>
						<li class="page-scroll">
							<a href="#about"> <i class="fa fa-question"></i> Hakkında</a>
						</li>
						<li class="page-scroll" ng-if="!flagLogin">
							<a target="_self" href="/giris"> <i class="fa fa-user"></i> Giriş</a>
						</li>
						<li class="page-scroll" ng-if="flagLogin">
							<a target="_self" href="/profil"> {{user.name}}<img src="{{user.avatar}}" style="width: 30px;height: 30px;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: 5px;
    top: -3px;
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
    position: relative;">
	<img></a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<!-- Header -->
		<headline-directive></headline-directive>

		<!-- tracks grid section -->
		<section id="tracks">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2>rotalar</h2>
						<hr class="star-primary">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="track-card">
							<a href="rotalar/Borçka,%20Artvin?latNE=41.38305560103086&lngNE=41.70727729797363&latSW=41.33982929211767&lngSW=41.65457725524902" data-id="borcka">
								<div class="track-container">
									<div class="track-title">
										<div class="h2">
											<strong>
												Artvin, Borçka
											</strong>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="track-card track-card2">
							<a href="/rotalar/Ihlara%20Vadisi,%20Güzelyurt,%20Aksaray?latNE=38.281852079168004&lngNE=34.32352066040039&latSW=38.236629552437456&lngSW=34.270820617675774">
								<div class="track-container">
									<div class="track-title">
										<div class="h2">
											<strong>
												Aksaray, Ihlara
											</strong>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="track-card track-card3">
							<a href="rotalar/AbantGölüTabiatParkıBolu?latNE=40.65355504328839&lngNE=31.33249282836914&latSW=40.566111428745145&lngSW=31.227092742919922">
								<div class="track-container">
									<div class="track-title">
										<div class="h2">
											<strong>
												Bolu, Abant
											</strong>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-6">
						<div class="track-card track-card4">
							<a href="rotalar/Palu,%20Elazığ?latNE=38.70312818241899&lngNE=39.93985176086426&latSW=38.680652207588714&lngSW=39.91350173950195">
								<div class="track-container">
									<div class="track-title">
										<div class="h2">
											<strong>
												Elazığ, Palu
											</strong>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="track-card track-card5">
							<a href="/rotalar/Kızılcahamam%20Soğuksu%20Milli%20Parkı,%20Ankara?latNE=40.47998971643613&lngNE=32.636518478393555&latSW=40.43616876605956&lngSW=32.583818435668945">
								<div class="track-container">
									<div class="track-title">
										<div class="h2">
											<strong>
												Ankara, Kızılcahamam
											</strong>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="track-card track-card6">
							<a href="/rotalar/Şehriban%20Çayı,%20Kastamonu?latNE=42.200038266046754&lngNE=33.73077392578125&latSW=41.513719082873486&lngSW=32.8875732421875">
								<div class="track-container">
									<div class="track-title">
										<div class="h2">
											<strong>
												Kastamonu, Şehriban
											</strong>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>

				</div>
			</div>
		</section>

		<!-- About Section -->
		<section class="success" id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2>Hakkında</h2>
						<hr class="star-light">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-lg-offset-2">
						<p>Lorem Ipsum pasajlarının birçok çeşitlemesi vardır. Ancak bunların büyük bir çoğunluğu mizah katılarak veya rastgele sözcükler eklenerek değiştirilmişlerdir. Eğer bir Lorem Ipsum pasajı kullanacaksanız, metin aralarına utandırıcı sözcükler gizlenmediğinden emin olmanız gerekir. İnternet'teki tüm Lorem Ipsum üreteçleri önceden belirlenmiş.	
						</p>
					</div>
					<div class="col-lg-4">
						<p>1500'lerden beri kullanılmakta olan standard Lorem Ipsum metinleri ilgilenenler için yeniden üretilmiştir. Çiçero tarafından yazılan 1.10.32 ve 1.10.33 bölümleri de 1914 H. Rackham çevirisinden alınan İngilizce sürümleri eşliğinde özgün biçiminden yeniden üretilmiştir.</p>
					</div>
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<a href="/giris" class="btn btn-lg btn-outline">
							Üye ol
						</a>
					</div>
				</div>
			</div>
		</section>

		<!-- Contact Section -->


		<!-- Footer -->
		<footer-directive></footer-directive>

		<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
		<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
			<a class="btn btn-primary" href="#page-top">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>

		<!-- tracks Modals -->
		<div class="tracks-modal modal fade" id="tracksModal1" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
	        // Offset for Main Navigation
	        $('#mainNav').affix({
	        	offset: {
	        		top: 100
	        	}
	        })
	    </script>