<navbar-directive></navbar-directive>
<div class="container layout-padding">
    <div class="row">
        <div class="col-md-4 ">
            <div class="card testimonial-card">
                <!--Bacground color-->
                <div class="card-up default-color-dark">
                </div>
                <!--Avatar-->
                <div class="avatar">
                    <img src="{{user.photo}}" class="img-circle img-responsive ">
                </div>
                <div class="card-block">
                    <!--Name-->
                    <h4 class="card-title ">{{user.name}}</h4>
                    <hr>
                    <!--Quotation-->
                    <p><i class="fa fa-email "></i>{{user.email}}</p>
                    <!--<a class="btn btn-lg btn-warning " href="/logout " target="_self "><i class="fa fa-ban "></i> Çıkış</a>-->
                </div>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="panel">
                <a ui-sref="addtrack.location">
                    <div class="panel-body">
                        <h3><i class="fa fa-plus"></i> Rota Ekle </h3>
                    </div>
                </a>


            </div>
            <!--<h1 class="padding-left-15 "> Rotalarım </h1>
            <div class="col-md-6 " ng-repeat="track in vm.markers">
                <card-directive ng-mouseover="vm.changeIcon(track) " ng-mouseleave="vm.removeIcon(track)" title="track.properties.name" summary="track.properties.summary">
                </card-directive>
            </div>-->
        </div>
    </div>
</div>
<footer-directive></footer-directive>