      .testimonial-card .card-up {
          height: 120px;
          overflow: hidden;
            background: linear-gradient(to right, rgba(4, 245, 34, 0.2), rgba(255, 143, 3, 0.4));
      }
      .avatar{
        border-radius: 50%;
        width: 200px;
        margin: -65px auto 0;
        border: 5px solid #fff;
        background: #FFF;
        height: 200px;
        overflow: hidden;
    }

    .testimonial-card  .card-block {
        padding: 1.25rem;
        text-align: center;
    } 
    .layout-padding {
        padding-top: 51px;
    }