<navbar-directive></navbar-directive>
<div class="container layout-padding">
    <div class="row">
        <div class="col-md-4 ">
            <div class="card testimonial-card">
                <!--Bacground color-->
                <div class="card-up default-color-dark">
                </div>
                <!--Avatar-->
                <div class="avatar">
                    <img src="{{user.avatar}}" class="img-circle img-responsive ">
                </div>
                <div class="card-block">
                    <!--Name {{user.name}}-->
                    <h4 class="card-title "> Profilim </h4>
                    <hr>
                    <!--Quotation-->
                    <p ng-show="user.local.email"><i class="fa fa-email "></i> {{user.local.email}}</p>
                    <p ng-show="user.facebook.name"><i class="fa fa-facebook-official"></i> {{user.facebook.name}}</p>
                    

                    <p ng-show="user.facebook.token && user.local.email">
                        <a href="/unlink/facebook" target="_self" class="btn btn-primary btn-facebook"><i class="fa fa-facebook"></i> Facebook bağlantısını kaldır</a>
                    </p>
                    <p ng-show="!user.facebook.token">
                        <a href="/connect/facebook" target="_self" class="btn btn-primary btn-facebook"><i class="fa fa-facebook"></i> Facebook hesabını bağla</a>
                    </p>

                    <p ng-show="!user.local.email">
                        <a ui-sref="connect" class="btn btn-default"> E-posta hesabımı bağla </a> <br>
                        <small class="font-size-12">   Tabiat izi hesabına başka bir e-posta adresi bağlayabilir ve bununlada giriş yapabilirsin. </small>
                    </p>
                    <p ng-show="user.facebook.token && user.local.email">
                        <a ui-sref="connect" class="btn btn-default"> <b> {{user.local.email}} </b> E-posta bağlantısını kaldır </a> <br> 
                    </p>

                    <!--<a class="btn btn-lg btn-warning " href="/logout " target="_self "><i class="fa fa-ban "></i> Çıkış</a>-->
                </div>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="panel">
                <a ui-sref="addtrack.location">
                    <div class="panel-body">
                        <h3><i class="fa fa-plus"></i> Rota Ekle </h3>
                    </div>
                </a>


            </div>
            <!--<h1 class="padding-left-15 "> Rotalarım </h1>
            <div class="col-md-6 " ng-repeat="track in vm.markers">
                <card-directive ng-mouseover="vm.changeIcon(track) " ng-mouseleave="vm.removeIcon(track)" title="track.properties.name" summary="track.properties.summary">
                </card-directive>
            </div>-->
        </div>
    </div>
</div>
<footer-directive></footer-directive>